.A{
	border-radius: 50%;
	background-color: #A52A2A;
	width:80px;
	height:80px;
	float:left;
	text-align: center;
	font-size:65px;
	color:white;
	margin-top: 3px;
	margin-left: 9px;
	
}
.B{
	border-radius: 50%;
	background-color: #A52A2A;
	width:80px;
	height:80px;
	float:left;
	margin-left:10px;
	text-align: center;
	font-size:65px;
	color:white;
	margin-top: 3px;

}
.C{
	border-radius: 50%;
	background-color: #A52A2A;
	width:80px;
	height:80px;
	float:left;
	margin-left:10px;
	text-align: center;
	font-size:65px;
	color:white;
	margin-top: 3px;

}
.D{
	border-radius: 50%;
	background-color: #A52A2A;
	width:80px;
	height:80px;
	float:left;
	margin-left:10px;
	text-align: center;
	font-size:65px;
	color:white;
	margin-top: 3px;

}
.E{
	border-radius: 50%;
	background-color: #A52A2A;
	width:80px;
	height:80px;
	float:left;
	margin-left:10px;
	text-align: center;
	font-size:65px;
	color:white;
	margin-top: 3px;

}
.F{
	border-radius: 50%;
	background-color: #A52A2A;
	width:80px;
	height:80px;
	float:left;
	margin-left:10px;
	text-align: center;
	font-size:65px;
	color:white;
	margin-top: 3px;

}
.G{
	border-radius: 50%;
	background-color: #A52A2A;
	width:80px;
	height:80px;
	float:left;
	margin-left:10px;
	text-align: center;
	font-size:65px;
	color:white;
	margin-top: 3px;

}
.H{
	border-radius: 50%;
	background-color: #A52A2A;
	width:80px;
	height:80px;
	float:left;
	margin-left:10px;
	text-align: center;
	font-size:65px;
	color:white;
	margin-top: 3px;

}
.I{
	border-radius: 50%;
	background-color: #A52A2A;
	width:80px;
	height:80px;
	float:left;
	margin-left:10px;
	text-align: center;
	font-size:65px;
	color:white;
	margin-top: 3px;

}
.J{
	border-radius: 50%;
	background-color: #A52A2A;
	width:80px;
	height:80px;
	float:left;
	margin-left:10px;
	text-align: center;
	font-size:65px;
	color:white;
	margin-top: 3px;

}
.K{
	border-radius: 50%;
	background-color: #A52A2A;
	width:80px;
	height:80px;
	float:left;
	margin-left:10px;
	text-align: center;
	font-size:65px;
	color:white;
	margin-top: 3px;

}
.L{
	border-radius: 50%;
	background-color: #A52A2A;
	width:80px;
	height:80px;
	float:left;
	margin-left:10px;
	text-align: center;
	font-size:65px;
	color:white;
	margin-top: 3px;

}
#letters{
	
	border:2px solid red;
	display:inline-block;
	width:100%;
	

}